
.toolbox div{
padding: 1rem 2rem;
border: 1px solid grey;
margin: 0px 0px 0.2em 0px;
background-color: lightblue;
}
input[type="number"] {
    width: 3rem;
    border-radius: 4px;
    padding-left: 0.4rem;
    line-height: 3rem;
    font-size: x-large;
}
.item {
display:block;
min-width: 4em;
overflow: hidden;
position: relative;
}
#addnewbutton{
padding: 1rem 2rem;
border: 1px solid grey;
margin: 1em 1em 0.5em 1em;
width: 260px;
background-color: pink;
}
#addNewDialog{
padding: 1rem 2rem;
border: 1px solid grey;
width: 10em;
height: 12em;
background-color: rgb(250, 238, 240);
position: absolute;
display:none;
}
#drawingArea {
  overflow-x: hidden;
}
#drawingArea > div.item {
  margin: 0px;
  border: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#drawingArea>div.detailarea>.subcondition>.item>.detailarea {
	max-height: 1em;
	overflow: hidden;
    color: lightgrey;
    border-top: 1px dotted lightgray;
    padding-top: 0.7em;
}
#drawingArea>div.detailarea>.subcondition>.item:hover>.detailarea {
	max-height: 20em;
	overflow-y: auto;
	color: unset;
}

#drawingArea>div.detailarea>.subcondition>.item:hover>.detailarea .detailarea{
	max-height: unset;
	overflow-y: auto;
	color: unset;
}

#drawingArea>legend,
#drawingArea>.icons {
  display: none;
}
#drawingAreaContainer{
	display:inline-block;
	vertical-align:top;
	width: 70%;
	top: 0px;
	left: 0px;
}

/* for Full Screen view*/
#fullscreenbuttonarea {
	width: 100%;
    margin-top: -42px;
    text-align: right;
}
#fullscreenbutton {
	width: 42px;
	height: 42px;
	border: 1px solid lightgrey;
	right: 0px;
	display:inline-block;
	border-radius: 3px 0px 0px 0px;
	cursor: pointer;
}

body.fullscreen .channels-panel{
	position: unset;
}
body.fullscreen .channels-panel .channels-view{
	position: unset;
}
body.fullscreen #drawingAreaContainer{
	position: absolute;
	padding: 1rem;
    width: 100%;
    height: 100%;
}
body.fullscreen #drawingArea{
	background-color: white;
	padding: 1rem;
}

legend{
    font-size: 0.7em;
    font-weight: bold;
    padding: 0em 0.5em;
}
fieldset{
    border: none;
}
.item.equals{
	padding: 1em;
    /* border: 3px solid #45d350; */
    /* border-radius: 5px; */
    margin: 1em 1em 0.5em 1em;
    background-color: #f6fff9;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.item.and{
    padding: 1em;
    /* border: 3px solid #db4545; */
    /* border-radius: 5px; */
    margin: 1em 1em 0.5em 1em;
    background-color: #ffe9e5;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.item.or{
    padding: 1em;
    /* border: 3px solid #4557db; */
    /* border-radius: 5px; */
    margin: 1em 1em 0.5em 1em;
    background-color: #e5ecff;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.item.not{
    padding: 1em;
    /* border: 3px solid #595959; */
    /* border-radius: 5px; */
    margin: 1em 1em 0.5em 1em;
    background-color: #efefef;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.item.param{
    padding: 1em;
}

.item .variable{
    background-color: rgb(74 8 200 / 12%);
    display: inline-block;
    border: 1px solid rgb(74 8 200 / 52%);
    padding: 1rem 1.5rem;
    margin: 0.5rem 0.5rem 0rem 0rem;
    line-height: 1em;
    cursor: pointer;
    color: #4a08c8;
}
.item .variable::after{
    content: "✏️";
	margin-left: 1em;
}
.item.param .variable::after{
    content: none;
	margin-left: 0px;
}
.item.param .variable{
	color: #bd3f19;
	background-color: unset;
    border: unset;
	cursor: unset;
    padding: unset;
    margin: unset;
}
.item .icons{
    position: absolute;
	top: -4px;
	right: 0px;
	visibility: hidden;
}
.item:hover .icons {
    visibility: visible;
}
.item .icons a{
    cursor: pointer;
	text-decoration: none;
}
.novalue {
	font-weight: bold;
	color: #662222;
	padding: 0.3em;
	border: 1px dotted red;
}
.missingvalue {
	font-weight: bold;
	color: #665522;
	padding: 0.3em;
	border: 1px dotted orange;
}

div#logictotaldescription {
	font-size: 9pt;
}
div#logictotaldescription .and, 
div#logictotaldescription .or {
	font-size: 12pt;
}
div#logictotaldescription span.and::before {
	content: "(";
	color: orange;
	font-size: 1.5em;
}
div#logictotaldescription span.and::after {
	content: ")";
	color: orange;
	font-size: 1.5em;
}
div#logictotaldescription span.and .and::before {
	content: "(";
	color: red;
	font-size: 1.5em;
}
div#logictotaldescription span.and .and::after {
	content: ")";
	color: red;
	font-size: 1.5em;
}

.addbutton {
  color: transparent;
  border: 2px dotted transparent;
  min-height: 1em;
  padding: 0.2em 1em;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  cursor: pointer;
}
.addbutton:hover {
  color: #351b1b;
  border-color: rgb(167, 78, 78);
  background-color:rgba(247, 161, 149, 0.226);
}

#drawingArea>.addbutton{
    color: rgba(241, 197, 197, 0.79);
    border: 2px dotted rgba(197, 111, 102, 0.2);
    padding: 1em 2em;
    background: rgba(255, 54, 54, 0.1);
}
#drawingArea>.addbutton:hover {
  color: #351b1b;
  border-color: rgb(167, 78, 78);
  background-color:rgba(247, 161, 149, 0.226);
}

.addcompbutton {
  color: transparent;
  border: 2px dotted transparent;
  min-height: 1em;
  padding: 0.2em 1em;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  cursor: pointer;
}
.addcompbutton:hover {
	color: #79250c;
    border-color: #bd3f19;
    background-color: rgba(221, 143, 119, 0.43);
}

#drawingArea>.addcompbutton{
    color: rgba(241, 197, 197, 0.79);
    border: 2px dotted rgba(197, 111, 102, 0.2);
    padding: 1em 2em;
    background: rgba(255, 54, 54, 0.1);
}
#drawingArea>.addcompbutton:hover {
	color: #79250c;
    border-color: #bd3f19;
    background-color: rgba(221, 143, 119, 0.43);
}

.asknumbutton {
  color: transparent;
  border: 2px dotted transparent;
  min-height: 1em;
  padding: 0.2em 1em;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  cursor: pointer;
}
.asknumbutton:hover {
    color: #1e351b;
    border-color: rgb(88, 167, 78);
    background-color: rgba(149, 247, 157, 0.23);
}

#drawingArea>.asknumbutton{
    color: rgba(241, 197, 197, 0.79);
    border: 2px dotted rgba(197, 111, 102, 0.2);
    padding: 1em 2em;
    background: rgba(255, 54, 54, 0.1);
}
#drawingArea>.asknumbutton:hover {
    color: #1e351b;
    border-color: rgb(88, 167, 78);
    background-color: rgba(149, 247, 157, 0.23);
}

.questbutton {
  color: transparent;
  border: 2px dotted transparent;
  min-height: 1em;
  padding: 0.2em 1em;
  font-weight: bold;
  text-align: center;
}
.questbutton:hover {
  color: #351b1b;
  border-color: rgb(80, 45, 177);
  background-color:rgba(112, 125, 199, 0.226);
}
.modal.lower{
  z-index: 997;
}
.modal.middle{
  z-index: 998;
}

.selector {
  color: lightgrey;
  border-color: lightgrey;
  margin-bottom: 1em;
}
.selector input{
  color: lightgrey;
  border-color: lightgrey;
}
.selector input[type="radio"]{
  border-color: black;
}
.selector select{
  color: lightgrey;
  border-color: lightgrey;
}
.selector.available{
  color: black;
  border-color: black;
}
.selector.available input{
  color: black;
  border-color: black;
}
.selector.available select{
  color: black;
  border-color: black;
}
.textselector .value {
    padding: 0.4em 1em;
    display: none;
    width: 8em;
    text-align: center;
    border-radius: 4px;
    background-color: #dde7eb;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #c7cedd;
}
.textselector .placeholder {
    padding: 0.4em 1em;
    display: inline-block;
    width: 8em;
    text-align: center;
    border-radius: 4px;
    background-color: #dde7eb;
    cursor: pointer;
    font-weight: unset;
    border: 2px dotted #c7cedd;
}
.available .textselector .value {
    border-color: #2f8525;
    background-color: #c6efc1;
}
.available .textselector .value:hover {
    border-color: #26651e;
    background-color: #a8d1a2;
}
.available .textselector .placeholder {
    border: 2px dotted #2f8525;
    background-color: #c6efc1;
}
.available .textselector .placeholder:hover {
    border-color: #26651e;
    background-color: #a8d1a2;
}

.textconditionselector {
    border: 2px solid #c7cedd;
    padding: 0.4em 1em;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    background-color: #dde7eb;
    cursor: pointer;
    font-weight: bold;
}
.textconditionselector:hover {
    border-color: #c7cedd;
    background-color: #dde7eb;
}
.available .textconditionselector {
    border-color: #e38d65;
    background-color: #eebaa2;
}
.available .textconditionselector:hover {
    border-color: #d46f40;
    background-color: #eca07d;
}

.textconditionincludes {
	display: inline-block;
	margin-right: 2em;
	vertical-align: top;
}
.selector input[type="text"].numerictext{
	display: inline-block;
	width: 3em;
}
.textrangeinput {
	display: inline-block;
}
.textrangeinput .rangearea{
	overflow-y: hidden;
	height: 0;
	color: lightgrey;
}
.textrangeinput h5{
	color: lightgrey;
}

.textselection {
	display: flex;
}
.textselection .envselection {
	display: none;
}
.textselection.includeenv .envselection {
	display: inline-block;
}
.textselection .entervalue {
	display: none;
}
.textselection.includeenter .entervalue {
	display: inline-block;
}
.calcoperator {
    display: inline-block;
    background-color: #f39393;
    border-radius: 6px;
    border: 2px solid #db7f7f;
    font-weight: bold;
    font-size: xx-large;
    color: white;
    vertical-align: middle;
    text-align: center;
    width: 42px;
    line-height: 42px;
	cursor: pointer;
}
.extractorselection {
	margin-left: 2rem;
}
.askenvbutton {
  color: transparent;
  border: 2px dotted transparent;
  min-height: 1em;
  padding: 0.2em 1em;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  cursor: pointer;
}
.askenvbutton:hover {
    color: #b13e19;
    border-color: #b13e19;
    background-color: #c97c6370;
}
.asktextbutton {
  color: transparent;
  border: 2px dotted transparent;
  min-height: 1em;
  padding: 0.2em 1em;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  cursor: pointer;
}
.asktextbutton:hover {
	color: #4a08c3;
    border-color: #4a08c3;
    background-color: #4a08c340;
}

.selector.available .textrangeinput:hover .rangearea{
	height: 3.4em;
	color: unset;
}
.selector.available .textrangeinput:hover h5{
	color: unset;
}

/* Summary */

.summary {
  color: rgb(49, 49, 49);
}

.summary .param{
  font-weight:bold;
  color:rgb(189, 63, 25);
}
.summary .static{
  font-weight:bold;
  color:rgb(75, 25, 192);
}

.numselector {
    border: 2px solid #c7cedd;
    padding: 0.4em 1em;
    display: inline-block;
    width: 8em;
    text-align: center;
    border-radius: 4px;
    background-color: #dde7eb;
    cursor: pointer;
    font-weight: bold;
}
.numselector:hover {
    border-color: #c7cedd;
    background-color: #dde7eb;
}
.available .numselector {
    border-color: #658ce3;
    background-color: #c0e4f5;
}
.available .numselector:hover {
    border-color: #4c7add;
    background-color: #81caec;
}
.selector select {
    font-size: 1.5em;
    border-radius: 5px;
    padding: 0.2em;
}
.modal-content .number{
  display:inline-block;
  width: 2.5em;
}

/* for JSON area and the animation */
#jsonarea {
	margin-top: 1em;
	background-color: #ececec;
}
#jsonarea textarea{
	height: 0px;
}
#jsonarea.active {
	height: unset;
}
#jsonarea.active textarea{
	height: 500px;
}
#upperarea{
	overflow: hidden;
	height: 500px;
}
#upperarea.hide{
	height: 0px;
}
#jsontab {
	text-align: right;
    background-color: white;
    margin: 0px 0px -1px 0px;
    padding: 0px;
    line-height: 27px;
    overflow-y: hidden;
    height: 26px;
}
#jsontab img{
	vertical-align: bottom;
}
#jsontab a{
	background-color: #ececec;
    margin: 0px;
    padding: 0px;
    line-height: 26px;
    display: inline-block;
    border-top: 1px solid #a6a6a6;
    border-right: 1px solid #d3d3d3;
    padding-right: 1em;
	border-radius: 0px 6px 0px 0px;
	cursor: pointer;
    text-decoration: none;
}
#jsonareawrapper {
	border: 1px solid #d3d3d3;
	height: 1em;
	overflow: hidden;
	border-radius: 6px 0px 6px 6px;
}
.active #jsonareawrapper {
	height: unset;
}
#sendingparameterarea {
	width: 100%;
	border: 1px solid orange;
	min-height: 12em;
	padding: 1em;
}