{{define "page"}}{{template "base" .}}{{end}}

{{define "channelscontent"}}
<div id="view-channel" class="view channels-view"></div>
{{end}}

{{define "scripts"}}
<script src="/js/channel-detail.js"></script>
{{end}}
