{{define "page"}}{{template "channels" .}}{{end}}

{{define "channelscontent"}}
        <div id="view-conditions" class="view channels-view"></div>
{{end}}

{{define "scripts"}}
<script src="/js/conditions-list.js"></script>
{{end}}


